* {
  font-family: "Poppins", sans-serif;
}

/* Hero */
#hero {
  width: 100%;
  height: 100vh;
  /* background-image: url(../asset/14.jpg); */
  background: linear-gradient(to right, #114357, #f29492);
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.1);
}

#hero .container {
  padding-top: 70px;
  position: relative;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 58px;
  }
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: rgb(255, 255, 255);
}

#hero h2 {
  color: rgb(255, 255, 255);
  margin: 10px 0 0 0;
  font-size: 22px;
}

#hero .btn-about {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  color: rgb(255, 255, 255);
  background: #0aceff6e;
  text-decoration: none;
}

#hero .btn-about:hover {
  background: #3dc8b8a1;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

/* Service Section */

.services {
  background: aliceblue;
  padding: 80px;
  /* margin-top: 30px; */
}

.services .container {
  margin-top: 30px;
  margin-bottom: 30px;
}
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0;
  /* color: whitesmoke; */
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  border-bottom: 3px solid #fff;
}

.services .icon-box:hover {
  transform: translateY(-5px);
}

.services .icon i {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #111;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.services .icon-box-pink .icon i {
  color: #ff689b;
}

.services .icon-box-pink:hover {
  border-color: #ff689b;
}

.services .icon-box-cyan .icon i {
  color: #3fcdc7;
}

.services .icon-box-cyan:hover {
  border-color: #3fcdc7;
}

.services .icon-box-green .icon i {
  color: #41cf2e;
}

.services .icon-box-green:hover {
  border-color: #41cf2e;
}

.services .icon-box-blue .icon i {
  color: #2282ff;
}

.services .icon-box-blue:hover {
  border-color: #2282ff;
}

/* About */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.Profile {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

.about-section {
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
  background-size: 100%;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container {
  width: 100%;
  float: right;
  background: linear-gradient(to right, #114357, #f29492);
  padding: 100px;
  /* margin-bottom: 50px; */
  margin-top: 50px;
}

.inner-container h1 {
  margin-top: 30px;
  font-size: 50px;
  font-weight: 500;
  color: #fff;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.inner-container h3 {
  font-size: 30px;
  font-weight: 500;
  color: #e5c08a;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.inner-container h1 span {
  color: #6daaf0;
}

.text {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.text span {
  font-weight: bold;
}

.Profile address {
  font-size: 16px;
  color: #fff;
}

.Profile h2 {
  color: #6daaf0;
  font-size: 30px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.Profile .button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Profile .about-section .button a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  color: rgb(255, 255, 255);
  background: #0aceff6e;
  text-decoration: none;
}

.Profile .about-section .button a:hover {
  background-color: #3dc8b8a1;
}

/* Responsive Section */

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }

  .inner-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    padding: 0;
  }

  .inner-container {
    padding: 60px;
  }
}

/* Gallery */

.gallery {
  margin-top: 50px;
  padding: 40px;
  background: linear-gradient(to right, #114357, #f29492);
}

.gallery .container {
  background-color:whitesmoke;
}

.gallery .photo-gallery {
  color:#313437;
}

.gallery .photo-gallery p {
  color:#7d8285;
}

.gallery .photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .gallery .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:30px;
  }
}

.gallery .photo-gallery h2 {
  font-size:50px;
  max-width:500px;
  margin:0 auto 40px;
  font-weight:bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.gallery .photo-gallery .intro p {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.gallery .photo-gallery .intro span {
  color: #6daaf0;
}

.gallery .photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}



/* CTA */

.cta {
  background: linear-gradient(to right, #114357, #f29492);
  background-size: cover;
  color: whitesmoke;
  padding: 80px;
}

.cta h3 {
  color: whitesmoke;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: whitesmoke;
}

.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  transition: 0.5s;
  margin: 10px;
  color: whitesmoke;
  background: #0aceff6e;
  text-decoration: none;
}

.cta .cta-btn:hover {
  background: #3dc8b8a1;
}

@media (min-width: 1024px) {
  .cta {
    background-attachment: fixed;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/* Footer */

#footer {
  background: #ffffff;
  padding: 20px 0;
  color: rgba(75, 71, 71, 0.646);
  font-size: 14px;
  text-align: center;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Footer */

#footer {
  background: #ffffff;
  padding: 20px 0;
  color: rgba(75, 71, 71, 0.646);
  font-size: 14px;
  text-align: center;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
}
